*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}

html , body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    background-color: #ffffff;
    border-radius: 50%;
    mix-blend-mode: difference;
    height:30px;
    width: 30px;
    position: absolute;
    transition: all linear .2s;
}
h1{
    font-size: 20vw;
    font-weight: 900;

}